language: php

php:
  - 5.6
  - 7.0
  - 7.1

install:
  - composer self-update
  - composer global require "fxp/composer-asset-plugin:^1.2"
  - composer install

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
